* {
    /* margin: 0;
    padding: 0; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --categories-border: rgba(64, 66, 69, 0.5);
    --bs-body-color: rgb(33, 37, 41);
    --bs-card-bg: #fff;
    --bs-card-border-width: 1px;
    --bs-card-border-color: rgba(0, 0, 0, 0.175);
    --bs-card-cap-bg: rgba(33, 37, 41, 0.03);
    --categories-icon-hover-color: rgb(47, 79, 79);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.75;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgb(0, 86, 178);
    cursor: pointer;
}

.before-nav {
    height: 1rem;
    width: 100%;
    background: transparent;
}

.nav-bar {
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    overflow: hidden;
    transition: all .6s cubic-bezier(.4,0,0,1);
}

.nav-bar.full {
    width: 100vw;
}

.avatar {
    box-sizing: border-box;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto 20px;
    overflow: hidden;
    box-shadow: rgb(207, 207, 207) 0 0 5px 1px;
    cursor: pointer;
}

.avatar img {
    max-width: 100%;
    height: auto;
}

.avatar img:hover {
    transform: scale(1.1);
    transition: transform 500ms ease-in-out;
    border: none;
}

.contacts-container {
    width: 100px;
    height: 30px;
    margin: auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact {
    box-sizing: border-box;
    border: none;
    margin: 10px;
    background-color: rgba(239, 233, 244, 0.64);
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(207, 207, 207) 0 0 5px 1px;
    color: #464646;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(46, 46, 47);
    margin-top: 1.5rem;
    text-align: center;
}

.content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.container {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    overflow-wrap: break-word;
}

.categories {
    width: 100%;
    margin-bottom: 2rem;
    border-color: var(--categories-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories i {
    color: gray;
    font-size: 86%;
}

.card {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    border: var(--bs-card-border-width) solid transparent;
}

.card-header {
    width: 100%;
    padding: 0.75rem;
    border-radius: calc(0.625rem - 1px);
    justify-content: space-between;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    margin-bottom: 0;
    background-color: var(--bs-card-cap-bg);
    border: var(--bs-card-border-width) solid rgba(222, 226, 230);
    border-bottom: none;
    margin-top: 50px;
}

.card-header:first-child {
    margin-top: 0;
}

.ms-2 {
    margin-left: 0.5rem;
}

.mx-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.collapse1,
.collapse2 {
    width: 100%;
    /* overflow: hidden; */
    transition: all 0.5s ease-in-out;
}

.collapse1:not(.show),
.collapse2:not(.show) {
    /* display:none; */
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.8s ease-in-out;
}

.category-trigger {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    text-align: center;
    color: #6c757d;
    border-bottom: none;
}

.category-trigger i {
    position: relative;
    height: 0.7rem;
    width: 1rem;
    transition: transform 300ms ease;
}

.category-trigger i:hover {
    color: var(--categories-icon-hover-color);
}

.text-muted {
    color: rgb(117, 117, 117);
    font-size: 0.875em;
}

.list-group {
    width: 100%;
    color: #0d6efd;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    border-radius: 0.625rem;
}

.list-group-item {
    width: 100%;
    border-left: none;
    border-right: none;
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    padding-left: 2rem;
    color: rgb(33, 37, 41);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(222, 226, 230);
    border-top: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    /* border-bottom: 1px; */
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}



footer {
    position: relative;
    bottom: 0;
    margin: auto 0 0 0;
    color: #333;
    font-size: 12px;
}

@media (max-width: 1200px) {
    .container {
        width: 50%;
    }
    .title {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 70%;
    }
    .title {
        font-size: 2.7rem;
    }

    .nav-bar {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background: rgba(250, 250, 252, .8);
        left: 0;
        right: 0;
    }
    .contacts-container {
        margin: auto 10px;
    }
}

@media (min-width: 768px) {
    .nav-bar {
        width: 48rem;
    }
    .before-nav {
        height: 3rem;
    }
}


@media (max-width: 632px) {
    .container {
        width: 90%;
    }
    .title {
        font-size: 2.5rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(30, 30, 30);
    }
    a {
        color: rgb(138, 180, 248);
    }
    .title {
        color: rgb(238, 238, 238);
    }
    .card-header {
        background-color: rgb(41, 41, 41);
    }
    .card {
        background-color: rgb(30, 30, 30);
    }
    .card-header {
        border: var(--bs-card-border-width) solid rgba(64, 66, 69, 0.5);
    }
    .list-group-item {
        border: 1px solid rgba(64, 66, 69, 0.5);
        border-top: 0;
        background-color: rgb(30, 30, 30);
    }
    footer {
        color: #a3a1a1;
    }
    .avatar {
        box-shadow: rgba(5, 5, 5, 0.423) 0 0 5px 1px;
    }
    .contact {
        background-color: rgba(61, 59, 63, 0.64);
        box-shadow: rgba(16, 16, 16, 0.423) 0 0 5px 1px;
        color: #d2d1d1;
    }

    @media (max-width: 768px) {

        .nav-bar {
            background: rgba(36, 36, 36, 0.8);
        }
        .contact {
            box-shadow: rgba(26, 26, 26, 0.423) 0 0 5px 1px;
        }
        
    }

}